$primary: #67217a;
$bs-primary: #0d6efd;

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 60px;
    padding-top: 64px;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar {
    margin-top: -1px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

.fw-semi-bold {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

// MDB Timeline
ul.timeline {
    list-style-type: none;
    position: relative;

    &::before {
        content: " ";
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;

    &::before {
        content: " ";
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid $primary;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}