$primary: #67217a;

@media only screen and (min-height: 587px) {
    html, body {
        height: 100%;
    }
    
    .body-content {
        height: 100%;
    }
}



@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}