$primary: #67217a;
$bs-primary: #0d6efd;

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}